---
layout: default
---
<div class="container">
  <h2 class="d1">{{page.content}}</h2>
  <form action="">
    <fieldset>
      <legend class="collapse">
          <label for="" class="smallcaps">Your Name</label>
      </legend>
      <input type="text" name="first_name" class="c0">
    </fieldset>
    <br>
    <fieldset>
      <legend class="collapse">
          <label for="" class="smallcaps">Your Company</label>
      </legend>
      <input type="text" name="first_name" class="c0">
    </fieldset>
    <br>
    <fieldset>
      <legend class="collapse">
          <label for="" class="smallcaps">Your Email</label>
      </legend>
      <input type="text" name="first_name" class="c0">
    </fieldset>
    <div>
      <button type="submit" class="btn c0">Make my ads better</button>
    </div>
  </form>
</div>
