<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include og.html %}

    <link rel="stylesheet" href="https://rawgit.com/adrianjonmiller/thin/master/dist/thin.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>{{site.title | capitalize_all}} | {{page.title}}</title>
  </head>
  <body>
    {% include header.html %}
    <div id="main" class="main">
        {{content}}
    </div>   
    {% include footer.html %}
  </body>
</html>